.todoList {
  height: 200px;
}

.todoListChild {
  height: 150px;
  overflow-y: scroll;
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
}

.todoListChild::-webkit-scrollbar {
  display: none;
}